@font-face {
  font-family: 'Aeonik Regular';
  src: url('./assets/fonts/AeonikTRIAL-Regular.otf');
}

@font-face {
  font-family: 'Aeonik Medium';
  src: url('./assets/fonts/AeonikTRIAL-Medium.otf');
}

@font-face {
  font-family: 'Aeonik SemiBold';
  src: url('./assets/fonts/AeonikTRIAL-SemiBold.otf');
}

@font-face {
  font-family: 'Aeonik Bold';
  src: url('./assets/fonts/AeonikTRIAL-Bold.otf');
}

p, h1, h2, h3 {
  margin: 0;
}

body {
  padding: 64px;
}

.dashboard-h1 {
  font-family: 'Aeonik Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #191919;
}

.dashboard-content {
  width: 1010px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-inline: auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.large-text {
  height: 34px;
  font-family: 'Aeonik SemiBold';
  font-weight: 600;
  font-size: 48px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #191919;
}

.large-text-container {
  display: flex;
  height: 40px;
  overflow: hidden;
  margin-bottom: 12px;
}

.small-text {
  font-family: 'Aeonik Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1%;
  color: #8F8F8F;
}

.tooltip-value {
  font-family: 'Aeonik Semibold';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1%;
  color: #191919;
}

.display {
  height: 40px;
  overflow: hidden;
  margin-bottom: 12px;
}

.prediction {
  margin-bottom: 12px;
}

.card {
  border-radius: 24px;
  padding: 16px;
  border: 1px solid #EAEAEA;
}

.card.large-padding {
  padding: 24px;
}

.card-title {
  font-family: 'Aeonik Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #8F8F8F;
}

.reimbursement-text {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.reimbursement-bar {
  background: #F5F5F5;
  border-radius: 999px;
  position: relative;
  height: 24px;
  overflow: hidden;
}

.reimbursement-fill {
  height: 100%;
  background: linear-gradient(90deg,#16C64F 0%, #B4EDC7 100%);
}

.bars-container {
  position: relative;
  height: 336px;
  display: flex;
  gap: 16px;
  align-items: flex-end;
  margin-top: 24px;
}

.bar-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.bar {
  transition: height 0.3s ease;
  border-radius: 24px;
  width: 100%;
  background: #EAEAEA;
}

.bar.past-threshold {
  background: #14B247;
}

.bar:hover {
  background: #14B247;
}

.bar.bar-null {
  height: 208px;
  border: 1px solid #EAEAEA;
  background: transparent !important;
}

.bar-label {
  font-family: 'Aeonik Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #8F8F8F;
}

.bar-label.active {
  color: #191919;
}

.display-data-container {
  display: flex;
  gap: 24px;
}

.display-data {
  padding: 12px 16px;
}

.display-label {
  font-weight: 400;
  font-family: 'Aeonik Regular';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #8F8F8F;
  margin-bottom: 8px;
}

.display-value {
  font-weight: 500;
  font-family: 'Aeonik Medium';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #191919;
}

.prediction-value, .tooltip-active {
  color: #16C64F;
}

.properties-dropdown-select {
  margin-top: 8px;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  border-radius: 12px;
  align-items: center;
  border: 1px solid #EAEAEA;
}

.properties-dropdown-select:hover {
  border-color: #191919;
}

.properties-text {
  font-family: 'Aeonik Medium';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1%;
}

.dropdown-container {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 300px;
  max-width: 300px;
  border-radius: 12px;
  border: 1px solid #191919;
  padding: 12px;
}

.dropdown-item {
  cursor: pointer;
  padding-bottom: 12px;
}

.dropdown-item:hover .properties-text {
  font-family: 'Aeonik Bold';
  text-overflow: ellipsis;
}

.properties-container {
  position: relative;
}

.dropdown-button {
  margin-top: 4px;
  appearance: none;
  background: #191919;
  color: white;
  font-family: 'Aeonik Medium';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  padding: 4px;
  border-radius: 8px;
  width: 100%;
}

.prediction-line-container {
  position: absolute;
  width: calc(100% - 8px);
  margin-right: 8px;
  pointer-events: none;
  /* transform: translateY(-50%) undoes mix-blend-mode effect */
}

.prediction-line {
  position: relative;
  width: 100%;
}

.prediction-line-blend {
  background: #B4EDC7;
  height: 4px;
  width: 100%;
  mix-blend-mode: multiply;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.prediction-line-label {
  position: absolute;
  transform: translateY(calc(-50% - 2px));
  font-family: 'Aeonik Medium';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1%;
  color: white;
  background: #16C64F;
  border-radius: 4px;
  padding: 2px 6px;
}

.display-number-container {
  display: inline-block;
}

.display-number-container.transitioning {
  transition: transform 0.5s ease;
}

.display-number {
  height: 40px;
  display: block;
  line-height: 40px;
}

.sliding-digit.exit {
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  background-color: white;
  border-radius: 8px;
  pointer-events: none;
  transform: translate(calc(-50% + 8px), calc(-100% - 8px));
}